[Desktop Entry]
Encoding=UTF-8
Name=Link to תוצאת תמונה עבור ‪sea picture‬‏
Type=Link
URL=https://www.google.co.il/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjLws7cqq_XAhVDbxQKHaBuDpgQjRwIBw&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26ved%3D0ahUKEwjLws7cqq_XAhVDbxQKHaBuDpgQjRwIBw%26url%3Dhttps%253A%252F%252Fsignoftherose.org%252F2016%252F08%252F12%252Fthe-treacherous-sea%252F%26psig%3DAOvVaw00JLRDM2Ts7ZmXbRuXMmS4%26ust%3D1510241380975860&psig=AOvVaw00JLRDM2Ts7ZmXbRuXMmS4&ust=1510241380975860
Icon=text-html
